<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .view-btn,
      a {
        background-color: #343a40;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <h1>Total number of users are: <%= count %></h1>
    <button class="view-btn"><a href="/user">View All Users</a></button>
  </body>
</html>
