<%- include("includes/head.ejs") %>

<title>Add New Post</title>
<style>
  body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
  }

  .form-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .form-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #262626;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .form-label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #262626;
  }

  .form-input,
  .form-textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    color: #262626;
  }

  .form-textarea {
    height: 100px;
    resize: vertical;
  }

  .form-file {
    font-size: 1.4rem;
  }

  .form-submit {
    width: 100%;
    padding: 0.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: auto;
    color: #fff;
    background-image: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-submit:hover {
    background-image: linear-gradient(to right, #e6683c, #dc2743, #cc2366, #bc1888, #9b1075);
  }
</style>
</head>

<body>
  <div class="form-container">
    <h2 class="form-title">Add New Post</h2>
    <form action="/posts/<%= user %>" method="post">
      <div class="form-group">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" id="imageUrl" name="image" class="form-input" placeholder="Enter image URL..." required>
      </div>
      <div class="form-group">
        <label for="content" class="form-label">Content</label>
        <textarea id="content" name="content" class="form-textarea" placeholder="Write your post..." required></textarea>
      </div>
      <button type="submit" class="form-submit">Post</button>
    </form>
  </div>
</body>
</html>
